<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LARP Character Creator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="resources/style.css">
    <script src="resources/update.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Legends of Gerrar</a>
              </div>
              <ul class="nav navbar-nav">
                  <!-- Set these li elements to have class "active" if we are on that page-->
                <li><a class="active" href="./larp.html">Home</a></li>
                <li><a href="./characters.php">Characters</a></li>
<!-- If logged in as admin add the edit button (a tag in li element-->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                    <!-- Set this login element to say "Welcome $NAME" if user is logged in -->
                    <div id="loginBanner">
                        <a href="/login"> Log in </a>
                    </div>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <form action="" class="box">
        <div class="box-content">
            <p id="errorField" class="message"></p>
            <h2>Login</h2>
            <label>Username: </label>
            <input type="text" name="username" id="username" class="form-field"><br>
            <label>Password: </label>
            <input type="password" name="password" id="password" class="form-field"><br>
            <input type="button" value="Log In" class="btn-success" onclick="authenticate()">
        </div>
    </form>
</body>
</html>